.root {
  @apply flex;
  height: 100vh;

  .sidebar {
    @apply flex fixed left-0 h-full bg-gray-100 shadow-md;

    .sidebarList {
      @apply flex flex-col;
    }

    .sidebarListItem {
      @apply flex flex-col justify-center
      items-center text-center m-4 cursor-pointer;

      &:hover {
        @apply text-gray-600;
      }

      .listIcon {
        @apply flex justify-center items-center
        rounded-lg bg-gray-100 text-gray-700 mx-2 mb-2 p-4 shadow;
        max-width: 3rem;
        max-height: 3rem;

        &:hover {
          @apply bg-gray-200 shadow-2xl text-gray-600;
        }
      }
      .active {
        @apply flex justify-center items-center
    rounded-lg bg-basebg text-gray-200 mx-2 mb-2 p-4 shadow;
        max-width: 3rem;
        max-height: 3rem;
      }
    }
  }

  .main {
    @apply flex flex-col w-full mx-12 pl-24;

    .hotTopics {
      @apply flex h-2/3 w-full mt-4;

      .topicContainer {
        @apply flex h-full w-full;

        .topicItem {
          @apply flex flex-col p-8 mr-6 rounded-2xl bg-gray-100 my-auto cursor-pointer shadow-md;
          height: 30vh;
          max-height: 40vh;

          h4 {
            @apply text-lg font-semibold space-x-8 break-normal;
          }

          p {
            @apply text-sm space-x-6 mb-4;
          }

          span {
            @apply text-4xl space-x-6 m-0;
          }

          &:last-child {
            @apply mr-0;
          }
        }
      }
    }

    .latestActivity {
        h3{
            @apply text-5xl font-normal space-x-6 text-gray-600;
        }
    }
  }
}
